.gallery_part {
    background-color: grey;
    padding: 2.5%;
}

p.gallery_part{
    color: whitesmoke;
}

.my_icon {
    height: 32px;
    width: 32px;
}

.my_icon2 {
    height: 64px;
    width: 64px;
}
